<% layout("/layouts/boilerplate") %>

<div class="row">
    <div class="col-md-8 offset-md-2">
    <h3>Edit Your Listing</h3>
    <form action="/listings/<%= Listing._id %>?_method=PUT" method="POST" novalidate class="needs-validation" enctype="multipart/form-data">
        <div>
            <label for="title" class="form-label">Title</label>
            <input type="text" name="listing[title]" placeholder="Enter listing title (eg. Cozy Apartment in Downtown)" class="form-control" value="<%= Listing.title %>" required>
        </div>

        <div>
            <label for="description" class="form-label">Description</label>
            <textarea name="listing[description]" cols="30" placeholder="Describe your space, amenities, and nearby attractions" class="form-control" required><%= Listing.description %></textarea>
        </div>

        <div>
            <label for="image" class="form-label">Image</label>
            <input type="file" name="listing[image]" class="form-control">
        </div>

        <div>
            <label for="price" class="form-label">Price</label>
            <input type="number" name="listing[price]" placeholder="Enter price per night (eg. 100)" class="form-control" value="<%= Listing.price %>" required>
        </div>

        <div>
            <label for="location" class="form-label">Location</label>
            <input type="text" name="listing[location]" placeholder="Enter city or neighborhood (eg. Downtown, NYC)" class="form-control" value="<%= Listing.location %>" required>
        </div>

        <div class="mb-3">
            <label for="country" class="form-label">Country</label>
            <input type="text" name="listing[country]" placeholder="Enter country (eg. United States)" class="form-control" value="<%= Listing.country %>" required>
        </div>
        
        <button class="btn custom-btn">Save</button>
    </form>
    </div>
</div>
