<% layout("/layouts/boilerplate") %>

    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h3><b>
                    <%= Listing.title %>
                </b></h3>
        </div>
        <div class="col-md-6 offset-md-2">
            <div class="card">
                <div class="card-img-top">
                    <img src="<%= Listing.image.url %>" class="card-img show-img" alt="Listing-image">
                </div>
                <div class="card-body px-0 py-1">
                    <p class="card-text">
                        <div class="d-flex align-items-center justify-content-between">
                            <b><%= Listing.location %>, <%= Listing.country %></b>
                        <p class="m-0">&#8377;<%= Listing.price.toLocaleString("en-IN") %> <small>night</small></p>
                        </div>
                        </p>
                    <p class="m-0"><%= Listing.description %></p>
                </div>
            </div>
        </div>
        <div class="col-md-6 offset-md-2 d-flex align-items-center gap-4 mt-4">
            <a href="/listing/<%= Listing._id %>/edit" class="btn custom-btn">Edit</a>
            <form action="/listing/<%= Listing._id %>?_method=DELETE" method="POST">
                <button class="btn btn-dark">Delete</button>
            </form>
        </div>
    </div>
    